In [2]:
#python
a={'a','b','c','d'}
print(a)

{'b', 'c', 'a', 'd'}

In [6]:
a="tanha"
b=22
print(f"my name is {a} my years {b}")

my name is tanha my years 22

In [8]:
a=8
b=8
print(f" the add {a+b}")

 the add 16

In [15]:
a = 18

if a < 19:
    print("She is an adult")  # Proper indentation
elif a == 18:  # This condition will never be reached
    print("She is a child")

She is an adult

In [17]:
a=('a','b','c')
print(type(a))

<class 'tuple'>

In [2]:
#conditional
x=19
if x>18:
    print("eligibal")
else :
    print("not eligibal")

eligibal

In [3]:
t=17
if t<18:
    print("child")
elif   t==17:
    print("equal")
else:
    print("not edual")

child

In [ ]:
number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

In [6]:
number = 5

match number:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("other number")

other number

In [4]:
cnt=0
while (cnt<3):
    cnt =cnt+1
    print ("hi")

hi
hi
hi

In [7]:
ct=0
while(ct<5):
    ct = ct+1
    print("pain")

pain
pain
pain
pain
pain

In [13]:
n = 0
for i in range (0,n):
#print(i)
    print(i)

In [14]:
n = 4
for i in range(0, n):
# n = 4
#for i in range(0, n):
    print(i)

0
1
2
3

In [ ]:
li = ["geeks", "for", "geeks"]
for i in li:
    print(i)
    
tup = ("geeks", "for", "geeks")
for i in tup:
    print(i)
    
s = "Geeks"
for i in s:
    print(i)
    
d = dict({'x':123, 'y':354})
for i in d:
    print("%s  %d" % (i, d[i]))
    
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i),

In [23]:
tup=('a','d','f','e')
for i in tup:
    print(i)
d =dict ({'x':123,'y':345})
for i in d:
   # print(%s %d % (i , d[i]))
    print("%s  %d" % (i, d[i]))
t=7
for i in range (0,t):
    print(i)

a
d
f
e
x  123
y  345
0
1
2
3
4
5
6

In [5]:
cnt = 0
while ( cnt< 9):
    cnt = cnt + 1
    print ("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi

In [1]:
fruits = ["apple", "orange", "kiwi"]

for fruit in fruits:

    print(fruit)

apple
orange
kiwi

In [11]:
def func():
    
    print("hello")
    
    func()

In [12]:
i = 9
while i<20:
    pass
    i+= 1
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [13]:
i = 0
for i in range (5):
    pass
print (i)

4

In [18]:
i = 0
if i < 0 :
    print("positive")
else:
    print ("negative")

negative

In [9]:
def add (a, b) :
    return a + b
res = add(2,3)
print(res)

5

In [13]:
def fun():
    name = "Alice"
    age = 30
    return name, age

name, age = fun()
print(name)  
print(age)   # Output: 30

Alice
30

In [16]:
def fun(n):
    return [n**2, n**3]

res = fun(3)
print(res)

[9, 27]

In [24]:
def fun(n):
    return [n ** 2 ,n ** 3]
      
res = fun(3)
print(res)

[9, 27]

In [7]:
def fun1(msg):
    def fun2():
        # Using the outer function's message
        return f"Message: {msg}"
    return fun2

# Getting the inner function
fun3 = fun1("Hello, World!")

# Calling the inner function
print(fun3())

Message: Hello, World!

In [14]:
def f():
    global s
    s += 'kj'  # Append to the global string
    print(s)  
    s = "loh"  # Change the value of s
    print(s)
    return  # Avoid infinite recursion

s = "start"  # Initialize the global variable
f()
print(s)

startkj
loh
loh

In [33]:
def fibonacci(n):
    # Base cases
    if n == 0:
        return 0
    elif n == 1:
        return 1
    # Recursive case
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Example usage
print(fibonacci(10))

55

In [47]:
def fibonacci (n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else :
        return fibonacci(n-1) + fibonacci (n-2)
        
        print ( fibonacci (5))

In [46]:
n=4
if 0<n:
    print("right")
else :
    print ("wrong")

right

In [1]:
s="tanha"
print("ta" in s)
print ("on" in s)

True
False

In [2]:
"my name {} i am {} old ".format("tanha",22)

'my name tanha i am 22 old '

In [4]:
s = " tanha"
print ( s* 3)

 tanha tanha tanha

In [1]:
s = "tanha afroz"
print( len (s))

11

In [3]:
s = " tanha afroz tisha "
print (s.upper())
print (s.lower())

 TANHA AFROZ TISHA
 tanha afroz tisha

In [4]:
s = [2]*4
t = [4]*2
print (s)
print (t)

[2, 2, 2, 2]
[4, 4]

In [6]:
a =[ 3,4,5,6]
a.append(10)
print (a)
a.insert (2,9)
print (a)
a.extend ([8])
print (a)

[3, 4, 5, 6, 10]
[3, 4, 9, 5, 6, 10]
[3, 4, 9, 5, 6, 10, 8]

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
for item in a :
    print (a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
tup = ( 1,2,3,4,5,6)
print (tup)
tup1 = (2,4,6)
tup2 = ("tanha", "afroz")
tup3 = (tup1,tup2)
print (tup3)
tup =('tanha') *3
print (tup)

(1, 2, 3, 4, 5, 6)
((2, 4, 6), ('tanha', 'afroz'))
tanhatanhatanha

In [3]:
s = { 1,2,3,4,5,6}
s.add(10)
print (s)
s.update ([7])
print(s)

{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 7, 10}

In [6]:
s1 = set ()
print(s1)
s1 = set("tanhaafroztisha")
print (s1)
s1=set(["tata","baba","kaka"])
print (set)
tup = ("kaka","computer")
print (set(tup))

set()
{'t', 's', 'r', 'z', 'f', 'a', 'o', 'n', 'i', 'h'}
<class 'set'>
{'kaka', 'computer'}

In [8]:
s1 = set ()
s1={1,2,3,4,5,6,7,8,9,10}
print(s1)
s1=('k','l','g','t')
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
('k', 'l', 'g', 't')

In [9]:
set1 = frozenset ()
set1 = frozenset("tanha afroz tiaha")
print(set1)

frozenset({'t', 'r', 'z', 'f', 'a', ' ', 'o', 'n', 'i', 'h'})

In [13]:
s={1,2,3,4,5,6,7,8,9,10,11,12,13}
s.clear()
print(s)

set()

In [18]:
s ={1,2,3,4,5,6,7,10}
print (11 in s)

False

In [ ]:
a = [1, "Hello", [3.14, "world"]]
a.append(2)  # Add an integer to the end
print(a)

In [1]:
a = [1,"hello",[3.1416,"world"]]
a.append(2)
print(a)

[1, 'hello', [3.1416, 'world'], 2]

In [3]:
a =[5,"tanha"]
a.append("maisha")
print(a)

[5, 'tanha', 'maisha']

In [7]:
import numpy as np
arr = np.array ([1,2,3])
print (arr*2)
arr2 = np.array([[1,3],[4,5]])
print(arr2*2)

[2 4 6]
[[ 2  6]
 [ 8 10]]

In [ ]:
import array as arr

# creating array of integers
a = arr.array('i', [1, 2, 3])

# accessing First Araay
print(a[0])

# Adding element to array
a.append(5)
print(a)

In [13]:
import array as arr 
a = arr.array ("i",[1,2,3])
print (a[0])
a.append (5)
print(a)

1
array('i', [1, 2, 3, 5])

In [15]:
import array as arr
a = arr.array("f",[1,2,3])
for  f in range (0 ,3):
    print (a[f],end=" ")

1.0 2.0 3.0

In [17]:
import array as arr
a =arr.array("i" ,[1,2,3,4,5])
print (a[0])
print(a[4])
d = arr.array ("d",[1,2,3])
print (d[1])

1
5
2.0

In [19]:
import array as arr
a =arr.array ( "f",[1,2,3,4,5,7])
print([2])

[2]

In [ ]:
import array
arr = array.array('i', [1, 2, 3, 1, 2, 5])

# index of 1st occurrence of 2
print(arr.index(2))

# index of 1st occurrence of 1
print(arr.index(1))

In [30]:
import array as arr
a = arr.array("i",[1,2,3])
print (a.index (2))
b = arr.array ("f",[1,2,3])
print(b.remove(1))

1
None

In [33]:
a = [ (x,y) for x  in range (4) for y in range (5)]
print (a)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4)]

In [34]:
from collections import Counter

# Creating a Counter from a list
ctr1 = Counter([1, 2, 2, 3, 3, 3])

# Creating a Counter from a dictionary
ctr2 = Counter({1: 2, 2: 3, 3: 1})

# Creating a Counter from a string
ctr3 = Counter('hello')

print(ctr1)
print(ctr2)
print(ctr3)

Counter({3: 3, 2: 2, 1: 1})
Counter({2: 3, 1: 2, 3: 1})
Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [3]:
import heapq
h = [10,20,30]
heapq.heapify(h)

heapq.heappush(h,5)
min = heapq.heappop(h)
print (h)

[10, 20, 30]

In [5]:
import heapq
h = [10,20,30,40]
heapq.heapify(h)
maxi = heapq.nlargest(3,h)
print("3 largest elements :" , maxi)
heapq.nsmallest(3,h)
print ("3 smallest elemnts:", min)

3 largest elements : [40, 30, 20]
3 smallest elemnts: 5

In [6]:
import heapq

# Creating a heap
h1 = [10, 20, 15, 30, 40]
heapq.heapify(h1)

# Replacing the smallest element (10) with 5
min = heapq.heapreplace(h1, 5)

print(min)
print(h1)

# Merging Heaps
h2 = [2, 4, 6, 8]

# Merging the lists
h3 = list(heapq.merge(h1, h2))
print("Merged heap:", h3)

10
[5, 20, 15, 30, 40]
Merged heap: [2, 4, 5, 6, 8, 20, 15, 30, 40]

In [24]:
from collections import deque

dq = deque([10, 20, 30])

# Add elements to the right
dq.append(40)  

# Add elements to the left
dq.appendleft(5)  

# extend(iterable)
dq.extend([50, 60, 70]) 
#print("After extend([50, 60, 70]):", dq)
print(dp)
# extendleft(iterable)
dq.extendleft([0, 5])  
print("After extendleft([0, 5]):", dq)

# remove method
dq.remove(20)
print("After remove(20):", dq)

# Remove elements from the right
dq.pop()

# Remove elements from the left
dq.popleft()  

print("After pop and popleft:", dq)

# clear() - Removes all elements from the deque
dq.clear()  # deque: []
print("After clear():", dq)

deque([20, 10, 40, 30])
After extendleft([0, 5]): deque([5, 0, 5, 10, 20, 30, 40, 50, 60, 70])
After remove(20): deque([5, 0, 5, 10, 30, 40, 50, 60, 70])
After pop and popleft: deque([0, 5, 10, 30, 40, 50, 60])
After clear(): deque([])

In [23]:
from collections import deque 
dp = deque([10,20,30,40])
print (dp.count (20))
print (dp.count (30))
dp.rotate (3)
print (dp)
dp.rotate (-1)
print(dp)
dp.reverse()
print(dp)

1
1
deque([20, 30, 40, 10])
deque([30, 40, 10, 20])
deque([20, 10, 40, 30])

In [ ]:
# A Python program to demonstrate working of key
# value change in OrderedDict
from collections import OrderedDict

print("Before:\n")
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
for key, value in od.items():
    print(key, value)

print("\nAfter:\n")
od['c'] = 5
for key, value in od.items():
    print(key, value)

In [1]:
# A Python program to demonstrate working of key
# value change in OrderedDict
from collections import OrderedDict

print("Before:\n")
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
for key, value in od.items():
    print(key, value)

print("\nAfter:\n")
od['c'] = 5
for key, value in od.items():
    print(key, value)

Before:

a 1
b 2
c 3
d 4

After:

a 1
b 2
c 5
d 4

In [4]:
from collections import OrderedDict

# Create two ordered dictionaries with different orderings
od1 = OrderedDict([('a', 1), ('b', 2), ('c', 3)])
od2 = OrderedDict([('c', 3), ('b', 2), ('a', 1)])

# Compare the ordered dictionaries for equality
print(od1 == od2)

False